{% extends "admin/change_form.html" %}

{% block after_related_objects %}
	{{ block.super }}
	<!-- Initialize the editor. -->
	<script>
		$(function() {
			// set editor with options for textareas
			$('#id_entry_text').froalaEditor(froalaTranscript);
			$('#id_interpret_blurb').froalaEditor(froalaInterpret);
			$('#id_interpret_more').froalaEditor(froalaDrawing);

			// for inLine texts
			$('.vLargeTextField').froalaEditor(froalaNarrow);

			// get rid of float for labels
			$('label[for="id_entry_text"]').css('float', 'none');
			$('label[for="id_interpret_blurb"]').css('float', 'none');
			$('label[for="id_interpret_more"]').css('float', 'none');
		});
	</script>
{% endblock after_related_objects %}
